src/main/java/docker/apache-nifi/TemplateV3.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>cf88142b-016a-1000-9a38-22eb1d8d9850</groupId>
    <name>TemplateV3</name>
    <snippet>
        <processGroups>
            <id>87dfe13f-794d-328b-0000-000000000000</id>
            <parentGroupId>efdaaee6-0dec-33fd-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>1282c002-92eb-3f5d-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>00abf198-8af1-3b95-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>humidity</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>b95e8c07-d000-3bdc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>15390a1c-db19-3a80-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>1b63a1d4-20bf-3d83-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>89d458d8-926e-3d7b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1c9b51e4-af39-3e52-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>d48d0ab6-041a-3482-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>83844cdf-43f4-339e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>232bb7e9-94a8-32a6-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>0f449cb3-ac37-3bc0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>file2</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>4c2fe945-fd15-3d0e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>359c5d87-13b7-36cb-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>98a4726d-bfca-380d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>6e8cbfb6-a214-3143-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>38392ad3-ecf5-3372-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>37014b3b-1b4c-3be8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>query3</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>a81ed843-3dd0-306b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>425bfc49-c714-3368-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>22e6ebe0-4c73-3326-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>query2</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>a81ed843-3dd0-306b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>44d1b04b-0740-3853-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>458d89f3-eae6-3324-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>5e0277ae-b912-3087-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4c0b0969-3ede-30f7-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>af9cdb88-a323-38cd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>0f449cb3-ac37-3bc0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5b438e6c-b5ae-3fc4-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>cc05e3e7-1187-33e1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>query1</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>a81ed843-3dd0-306b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>653aa476-386d-3e3d-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>80e3e43a-eb29-3aa8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>c9576b3a-b044-31f4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>72f03ba5-f35b-3341-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>4c2fe945-fd15-3d0e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>22e6ebe0-4c73-3326-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>94267d27-e65b-3712-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>c793c506-a548-3044-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>0dad8fb0-1f1e-3f84-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>95f8ca44-93a5-3bd8-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>89d458d8-926e-3d7b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>pressure</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>b95e8c07-d000-3bdc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>acb5fc18-47bf-35ce-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>c9576b3a-b044-31f4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>query1</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>d097a041-ccbc-383a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b7f36360-ec18-3f86-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>3ae0030d-b083-3eaa-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>00abf198-8af1-3b95-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ba80bdb0-f81f-3b99-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>a81ed843-3dd0-306b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>10315ec8-986a-348a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bcc4933d-febc-346c-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>892a178a-233c-3e86-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>cc05e3e7-1187-33e1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bd3b383c-824e-360d-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>6e8cbfb6-a214-3143-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>query3</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>d097a041-ccbc-383a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ccd6324a-e7d4-300f-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>83844cdf-43f4-339e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>file0</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>4c2fe945-fd15-3d0e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d2e97d9f-9279-399e-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>94da45d8-6b31-3bd2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>122fb214-b4d7-3db1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>db1c981a-2fef-3403-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>122fb214-b4d7-3db1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>temp</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>b95e8c07-d000-3bdc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>df14be63-8759-3955-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>5e0277ae-b912-3087-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>file1</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>4c2fe945-fd15-3d0e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f1c7bad3-f90b-3d8a-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>b95e8c07-d000-3bdc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>80a6a3f5-5eba-3135-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f5204aae-2ea6-3489-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>80a6a3f5-5eba-3135-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>query2</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>d097a041-ccbc-383a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f820a0ab-ac16-3f30-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>10315ec8-986a-348a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>448821ca-1b0a-381d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fc0a9f54-305a-3300-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>d097a041-ccbc-383a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>c793c506-a548-3044-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fc3e8aca-decf-3f2c-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>5709db7b-a89a-323e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>87dfe13f-794d-328b-0000-000000000000</groupId>
                        <id>37014b3b-1b4c-3be8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>00abf198-8af1-3b95-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1230.302777321973</x>
                        <y>334.40721187284225</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
                <processors>
                    <id>0dad8fb0-1f1e-3f84-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-246.2535400390625</x>
                        <y>-346.6344299316406</y>
                    </position>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>Distributed Cache Service</name>
</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>file-filter-mode</key>
<value>
    <name>file-filter-mode</name>
</value>
                            </entry>
                            <entry>
<key>minimum-file-age</key>
<value>
    <name>minimum-file-age</name>
</value>
                            </entry>
                            <entry>
<key>maximum-file-age</key>
<value>
    <name>maximum-file-age</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/opt/nifi/core-site.xml,/opt/nifi/hdfs-site.xml</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
                            </entry>
                            <entry>
<key>Directory</key>
<value>/results/mongo/</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>[^\.].*</value>
                            </entry>
                            <entry>
<key>file-filter-mode</key>
<value>filter-mode-directories-and-files</value>
                            </entry>
                            <entry>
<key>minimum-file-age</key>
                            </entry>
                            <entry>
<key>maximum-file-age</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>ListHDFS</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.ListHDFS</type>
                </processors>
                <processors>
                    <id>0f449cb3-ac37-3bc0-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-2328.299273459277</x>
                        <y>720.3361364333891</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
                <processors>
                    <id>10315ec8-986a-348a-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-673.2056884765625</x>
                        <y>-74.60977172851562</y>
                    </position>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>HDFS Filename</key>
<value>
    <name>HDFS Filename</name>
</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>
    <name>Compression codec</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/opt/nifi/core-site.xml,/opt/nifi/hdfs-site.xml</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>HDFS Filename</key>
<value>${path}/${filename}</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>NONE</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchHDFS</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>comms.failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.FetchHDFS</type>
                </processors>
                <processors>
                    <id>122fb214-b4d7-3db1-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1263.160443337598</x>
                        <y>719.725266072061</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
                <processors>
                    <id>1b63a1d4-20bf-3d83-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1836.7325439453125</x>
                        <y>565.6653442382812</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mongodb-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mongo-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
    <name>mongo-client-service</name>
</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>
    <name>Mongo URI</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>
    <name>Mongo Database Name</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>
    <name>Mongo Collection Name</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>
    <name>Mode</name>
</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>
    <name>Upsert</name>
</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>
    <name>Update Query Key</name>
</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
<value>
    <name>putmongo-update-query</name>
</value>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>
    <name>put-mongo-update-mode</name>
</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>
    <name>Write Concern</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mongo-client-service</key>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>mongodb://mongo-server:27017</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>results</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>query2Pressure</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>REQUIRED</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>insert</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>_id</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>doc</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>ACKNOWLEDGED</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutMongo</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                </processors>
                <processors>
                    <id>22e6ebe0-4c73-3326-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1421.7592468261719</x>
                        <y>395.96435546875</y>
                    </position>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>HDFS Filename</key>
<value>
    <name>HDFS Filename</name>
</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>
    <name>Compression codec</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/opt/nifi/core-site.xml,/opt/nifi/hdfs-site.xml</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>HDFS Filename</key>
<value>${path}/${filename}</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>NONE</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchHDFS</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>comms.failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.FetchHDFS</type>
                </processors>
                <processors>
                    <id>37014b3b-1b4c-3be8-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1621.8848447483397</x>
                        <y>974.0469518630766</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
                <processors>
                    <id>3ae0030d-b083-3eaa-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1822.947509765625</x>
                        <y>349.93060302734375</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mongodb-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mongo-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
    <name>mongo-client-service</name>
</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>
    <name>Mongo URI</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>
    <name>Mongo Database Name</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>
    <name>Mongo Collection Name</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>
    <name>Mode</name>
</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>
    <name>Upsert</name>
</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>
    <name>Update Query Key</name>
</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
<value>
    <name>putmongo-update-query</name>
</value>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>
    <name>put-mongo-update-mode</name>
</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>
    <name>Write Concern</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mongo-client-service</key>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>mongodb://mongo-server:27017</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>results</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>query2Humidity</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>REQUIRED</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>insert</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>_id</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>doc</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>ACKNOWLEDGED</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutMongo</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                </processors>
                <processors>
                    <id>448821ca-1b0a-381d-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-678.790283203125</x>
                        <y>-357.0774230957031</y>
                    </position>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>Distributed Cache Service</name>
</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>file-filter-mode</key>
<value>
    <name>file-filter-mode</name>
</value>
                            </entry>
                            <entry>
<key>minimum-file-age</key>
<value>
    <name>minimum-file-age</name>
</value>
                            </entry>
                            <entry>
<key>maximum-file-age</key>
<value>
    <name>maximum-file-age</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/opt/nifi/core-site.xml,/opt/nifi/hdfs-site.xml</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
                            </entry>
                            <entry>
<key>Directory</key>
<value>/results/mongoSQL</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>[^\.].*</value>
                            </entry>
                            <entry>
<key>file-filter-mode</key>
<value>filter-mode-directories-and-files</value>
                            </entry>
                            <entry>
<key>minimum-file-age</key>
                            </entry>
                            <entry>
<key>maximum-file-age</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>ListHDFS</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.ListHDFS</type>
                </processors>
                <processors>
                    <id>458d89f3-eae6-3324-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3178.8564453125</x>
                        <y>459.62095642089844</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mongodb-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mongo-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
    <name>mongo-client-service</name>
</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>
    <name>Mongo URI</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>
    <name>Mongo Database Name</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>
    <name>Mongo Collection Name</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>
    <name>Mode</name>
</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>
    <name>Upsert</name>
</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>
    <name>Update Query Key</name>
</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
<value>
    <name>putmongo-update-query</name>
</value>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>
    <name>put-mongo-update-mode</name>
</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>
    <name>Write Concern</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mongo-client-service</key>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>mongodb://mongo-server:27017</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>results</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>SQLquery2Pressure</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>REQUIRED</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>insert</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>_id</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>doc</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>ACKNOWLEDGED</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutMongo</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                </processors>
                <processors>
                    <id>4c2fe945-fd15-3d0e-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1987.9945373535156</x>
                        <y>514.9705505371094</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>file0</key>
<value>
    <name>file0</name>
</value>
                            </entry>
                            <entry>
<key>file1</key>
<value>
    <name>file1</name>
</value>
                            </entry>
                            <entry>
<key>file2</key>
<value>
    <name>file2</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>file0</key>
<value>${path:contains('0')}</value>
                            </entry>
                            <entry>
<key>file1</key>
<value>${path:contains('1')}</value>
                            </entry>
                            <entry>
<key>file2</key>
<value>${path:contains('2')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>file0</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>file1</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>file2</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>5709db7b-a89a-323e-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-2784.3848876953125</x>
                        <y>1051.9405670166016</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mongodb-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mongo-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
    <name>mongo-client-service</name>
</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>
    <name>Mongo URI</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>
    <name>Mongo Database Name</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>
    <name>Mongo Collection Name</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>
    <name>Mode</name>
</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>
    <name>Upsert</name>
</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>
    <name>Update Query Key</name>
</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
<value>
    <name>putmongo-update-query</name>
</value>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>
    <name>put-mongo-update-mode</name>
</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>
    <name>Write Concern</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mongo-client-service</key>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>mongodb://mongo-server:27017</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>results</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>SQLquery3</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>REQUIRED</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>insert</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>_id</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>doc</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>ACKNOWLEDGED</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutMongo</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                </processors>
                <processors>
                    <id>5e0277ae-b912-3087-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-2578.788042990527</x>
                        <y>498.84626826932663</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
                <processors>
                    <id>6e8cbfb6-a214-3143-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>193.95414450947305</x>
                        <y>926.5076757400298</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
                <processors>
                    <id>80a6a3f5-5eba-3135-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>534.7359924316406</x>
                        <y>422.13458251953125</y>
                    </position>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>HDFS Filename</key>
<value>
    <name>HDFS Filename</name>
</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>
    <name>Compression codec</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/opt/nifi/core-site.xml,/opt/nifi/hdfs-site.xml</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>HDFS Filename</key>
<value>${path}/${filename}</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>NONE</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchHDFS</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>comms.failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.FetchHDFS</type>
                </processors>
                <processors>
                    <id>80e3e43a-eb29-3aa8-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1692.6669921875</x>
                        <y>141.74525451660156</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mongodb-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mongo-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
    <name>mongo-client-service</name>
</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>
    <name>Mongo URI</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>
    <name>Mongo Database Name</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>
    <name>Mongo Collection Name</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>
    <name>Mode</name>
</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>
    <name>Upsert</name>
</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>
    <name>Update Query Key</name>
</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
<value>
    <name>putmongo-update-query</name>
</value>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>
    <name>put-mongo-update-mode</name>
</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>
    <name>Write Concern</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mongo-client-service</key>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>mongodb://mongo-server:27017</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>results</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>query1</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>REQUIRED</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>insert</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>_id</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>doc</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>ACKNOWLEDGED</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutMongo</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                </processors>
                <processors>
                    <id>83844cdf-43f4-339e-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-2212.246539084277</x>
                        <y>227.413986775186</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
                <processors>
                    <id>892a178a-233c-3e86-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-2476.557373046875</x>
                        <y>-155.6982421875</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mongodb-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mongo-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
    <name>mongo-client-service</name>
</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>
    <name>Mongo URI</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>
    <name>Mongo Database Name</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>
    <name>Mongo Collection Name</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>
    <name>Mode</name>
</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>
    <name>Upsert</name>
</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>
    <name>Update Query Key</name>
</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
<value>
    <name>putmongo-update-query</name>
</value>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>
    <name>put-mongo-update-mode</name>
</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>
    <name>Write Concern</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mongo-client-service</key>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>mongodb://mongo-server:27017</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>results</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>SQLquery1</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>REQUIRED</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>insert</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>_id</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>doc</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>ACKNOWLEDGED</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutMongo</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                </processors>
                <processors>
                    <id>89d458d8-926e-3d7b-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1275.850873025098</x>
                        <y>514.7078710525298</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
                <processors>
                    <id>94da45d8-6b31-3bd2-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1844.3460693359375</x>
                        <y>761.8544921875</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mongodb-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mongo-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
    <name>mongo-client-service</name>
</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>
    <name>Mongo URI</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>
    <name>Mongo Database Name</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>
    <name>Mongo Collection Name</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>
    <name>Mode</name>
</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>
    <name>Upsert</name>
</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>
    <name>Update Query Key</name>
</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
<value>
    <name>putmongo-update-query</name>
</value>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>
    <name>put-mongo-update-mode</name>
</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>
    <name>Write Concern</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mongo-client-service</key>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>mongodb://mongo-server:27017</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>results</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>query2Temperature</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>REQUIRED</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>insert</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>_id</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>doc</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>ACKNOWLEDGED</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutMongo</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                </processors>
                <processors>
                    <id>98a4726d-bfca-380d-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1744.15087890625</x>
                        <y>991.3657531738281</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mongodb-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mongo-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
    <name>mongo-client-service</name>
</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>
    <name>Mongo URI</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>
    <name>Mongo Database Name</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>
    <name>Mongo Collection Name</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>
    <name>Mode</name>
</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>
    <name>Upsert</name>
</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>
    <name>Update Query Key</name>
</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
<value>
    <name>putmongo-update-query</name>
</value>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>
    <name>put-mongo-update-mode</name>
</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>
    <name>Write Concern</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mongo-client-service</key>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>mongodb://mongo-server:27017</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>results</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>query3</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>REQUIRED</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>insert</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>_id</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>doc</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>ACKNOWLEDGED</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutMongo</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                </processors>
                <processors>
                    <id>a81ed843-3dd0-306b-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-663.5462341308594</x>
                        <y>337.7784423828125</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>query1</key>
<value>
    <name>query1</name>
</value>
                            </entry>
                            <entry>
<key>query2</key>
<value>
    <name>query2</name>
</value>
                            </entry>
                            <entry>
<key>query3</key>
<value>
    <name>query3</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>query1</key>
<value>${path:contains('1')}</value>
                            </entry>
                            <entry>
<key>query2</key>
<value>${path:contains('2')}</value>
                            </entry>
                            <entry>
<key>query3</key>
<value>${path:contains('3')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>query1</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>query2</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>query3</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>af9cdb88-a323-38cd-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3153.55859375</x>
                        <y>774.4495086669922</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mongodb-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mongo-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
    <name>mongo-client-service</name>
</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>
    <name>Mongo URI</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>
    <name>Mongo Database Name</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>
    <name>Mongo Collection Name</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>
    <name>Mode</name>
</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>
    <name>Upsert</name>
</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>
    <name>Update Query Key</name>
</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
<value>
    <name>putmongo-update-query</name>
</value>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>
    <name>put-mongo-update-mode</name>
</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>
    <name>Write Concern</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mongo-client-service</key>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>mongodb://mongo-server:27017</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>results</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>SQLquery2Humidity</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>REQUIRED</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>insert</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>_id</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>doc</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>ACKNOWLEDGED</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutMongo</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                </processors>
                <processors>
                    <id>b95e8c07-d000-3bdc-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>680.8133544921875</x>
                        <y>719.0924072265625</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>humidity</key>
<value>
    <name>humidity</name>
</value>
                            </entry>
                            <entry>
<key>pressure</key>
<value>
    <name>pressure</name>
</value>
                            </entry>
                            <entry>
<key>temp</key>
<value>
    <name>temp</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>humidity</key>
<value>${path:contains('2')}</value>
                            </entry>
                            <entry>
<key>pressure</key>
<value>${path:contains('1')}</value>
                            </entry>
                            <entry>
<key>temp</key>
<value>${path:contains('0')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>humidity</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>pressure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>temp</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>c793c506-a548-3044-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-251.9462890625</x>
                        <y>-80.2772216796875</y>
                    </position>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>HDFS Filename</key>
<value>
    <name>HDFS Filename</name>
</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>
    <name>Compression codec</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/opt/nifi/core-site.xml,/opt/nifi/hdfs-site.xml</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>HDFS Filename</key>
<value>${path}/${filename}</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>NONE</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchHDFS</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>comms.failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.FetchHDFS</type>
                </processors>
                <processors>
                    <id>c9576b3a-b044-31f4-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1184.498089821973</x>
                        <y>124.96861324002975</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
                <processors>
                    <id>cc05e3e7-1187-33e1-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1654.9400205295894</x>
                        <y>-98.13233890840775</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
                <processors>
                    <id>d097a041-ccbc-383a-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-234.42721557617188</x>
                        <y>338.3180847167969</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>query1</key>
<value>
    <name>query1</name>
</value>
                            </entry>
                            <entry>
<key>query2</key>
<value>
    <name>query2</name>
</value>
                            </entry>
                            <entry>
<key>query3</key>
<value>
    <name>query3</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>query1</key>
<value>${path:contains('1')}</value>
                            </entry>
                            <entry>
<key>query2</key>
<value>${path:contains('2')}</value>
                            </entry>
                            <entry>
<key>query3</key>
<value>${path:contains('3')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>query1</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>query2</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>query3</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>d48d0ab6-041a-3482-0000-000000000000</id>
                    <parentGroupId>87dfe13f-794d-328b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-2955.4267578125</x>
                        <y>225.52919006347656</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mongodb-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mongo-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
    <name>mongo-client-service</name>
</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>
    <name>Mongo URI</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>
    <name>Mongo Database Name</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>
    <name>Mongo Collection Name</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>
    <name>Mode</name>
</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>
    <name>Upsert</name>
</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>
    <name>Update Query Key</name>
</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
<value>
    <name>putmongo-update-query</name>
</value>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>
    <name>put-mongo-update-mode</name>
</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>
    <name>Write Concern</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mongo-client-service</key>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>mongodb://mongo-server:27017</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>results</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>SQLquery2Temperature</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>REQUIRED</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>insert</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>_id</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>doc</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>ACKNOWLEDGED</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutMongo</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                </processors>
            </contents>
            <name>hdfsToMongo</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>05/19/2019 12:58:29 UTC</timestamp>
</template>
