src/main/java/docker/apache-nifi/templateCopyToHDFS.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>b728b815-016a-1000-1d04-69ff98bbfe19</groupId>
    <name>templateCopyToHDFS</name>
    <snippet>
        <processGroups>
            <id>85701b7e-793b-330a-0000-000000000000</id>
            <parentGroupId>37b14380-6dbd-33be-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0c1f8dc9-8446-331f-0000-000000000000</id>
                    <parentGroupId>85701b7e-793b-330a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>463de8da-fc4a-3b88-0000-000000000000</groupId>
                        <id>d260c6a3-767e-35f2-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>870bc935-ea57-3e6c-0000-000000000000</groupId>
                        <id>55736347-58b3-34d2-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>a66b462f-82ae-3329-0000-000000000000</id>
                    <parentGroupId>85701b7e-793b-330a-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>
<name>csv-reader-csv-parser</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>
<name>CSV Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>
<name>Value Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>
<name>Skip Header Line</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>
<name>ignore-csv-header</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>
<name>Quote Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>
<name>Escape Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                            <value>
<name>Comment Marker</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Null String</key>
                            <value>
<name>Null String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>
<name>Trim Fields</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>
<name>csvutils-character-set</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>CSVReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>csv-header-derived</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>data</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>commons-csv</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>custom</value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>,</value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>"</value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>\</value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                        </entry>
                        <entry>
                            <key>Null String</key>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>UTF-8</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.csv.CSVReader</type>
                </controllerServices>
                <processGroups>
                    <id>463de8da-fc4a-3b88-0000-000000000000</id>
                    <parentGroupId>85701b7e-793b-330a-0000-000000000000</parentGroupId>
                    <position>
                        <x>1441.3779640022985</x>
                        <y>326.4441322164917</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>3f19c497-83f7-3b1b-0000-000000000000</id>
                            <parentGroupId>463de8da-fc4a-3b88-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>463de8da-fc4a-3b88-0000-000000000000</groupId>
<id>bc92d11f-4961-3d33-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>463de8da-fc4a-3b88-0000-000000000000</groupId>
<id>d260c6a3-767e-35f2-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5d21561f-72c8-38ee-0000-000000000000</id>
                            <parentGroupId>463de8da-fc4a-3b88-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>463de8da-fc4a-3b88-0000-000000000000</groupId>
<id>22b93eb5-6e84-36d8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>463de8da-fc4a-3b88-0000-000000000000</groupId>
<id>bc92d11f-4961-3d33-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e9a4364f-dc29-3923-0000-000000000000</id>
                            <parentGroupId>463de8da-fc4a-3b88-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>463de8da-fc4a-3b88-0000-000000000000</groupId>
<id>8b8e7fe4-261f-3f51-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>463de8da-fc4a-3b88-0000-000000000000</groupId>
<id>d260c6a3-767e-35f2-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>d260c6a3-767e-35f2-0000-000000000000</id>
                            <parentGroupId>463de8da-fc4a-3b88-0000-000000000000</parentGroupId>
                            <position>
<x>659.0</x>
<y>137.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>file</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>22b93eb5-6e84-36d8-0000-000000000000</id>
                            <parentGroupId>463de8da-fc4a-3b88-0000-000000000000</parentGroupId>
                            <position>
<x>1324.8790283203125</x>
<y>286.31329345703125</y>
                            </position>
                            <bundle>
<artifact>nifi-parquet-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>
            <name>Hadoop Configuration Resources</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>
            <name>Kerberos Principal</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
        <value>
            <name>Kerberos Keytab</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>
            <name>Kerberos Relogin Period</name>
        </value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
        <value>
            <name>Additional Classpath Resources</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>compression-type</key>
        <value>
            <name>compression-type</name>
        </value>
    </entry>
    <entry>
        <key>overwrite</key>
        <value>
            <name>overwrite</name>
        </value>
    </entry>
    <entry>
        <key>permissions-umask</key>
        <value>
            <name>permissions-umask</name>
        </value>
    </entry>
    <entry>
        <key>remote-group</key>
        <value>
            <name>remote-group</name>
        </value>
    </entry>
    <entry>
        <key>remote-owner</key>
        <value>
            <name>remote-owner</name>
        </value>
    </entry>
    <entry>
        <key>row-group-size</key>
        <value>
            <name>row-group-size</name>
        </value>
    </entry>
    <entry>
        <key>page-size</key>
        <value>
            <name>page-size</name>
        </value>
    </entry>
    <entry>
        <key>dictionary-page-size</key>
        <value>
            <name>dictionary-page-size</name>
        </value>
    </entry>
    <entry>
        <key>max-padding-size</key>
        <value>
            <name>max-padding-size</name>
        </value>
    </entry>
    <entry>
        <key>enable-dictionary-encoding</key>
        <value>
            <name>enable-dictionary-encoding</name>
        </value>
    </entry>
    <entry>
        <key>enable-validation</key>
        <value>
            <name>enable-validation</name>
        </value>
    </entry>
    <entry>
        <key>writer-version</key>
        <value>
            <name>writer-version</name>
        </value>
    </entry>
    <entry>
        <key>remove-crc-files</key>
        <value>
            <name>remove-crc-files</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>/opt/nifi/core-site.xml,/opt/nifi/hdfs-site.xml</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>4 hours</value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>a66b462f-82ae-3329-0000-000000000000</value>
    </entry>
    <entry>
        <key>Directory</key>
        <value>/input</value>
    </entry>
    <entry>
        <key>compression-type</key>
        <value>SNAPPY</value>
    </entry>
    <entry>
        <key>overwrite</key>
        <value>false</value>
    </entry>
    <entry>
        <key>permissions-umask</key>
    </entry>
    <entry>
        <key>remote-group</key>
    </entry>
    <entry>
        <key>remote-owner</key>
    </entry>
    <entry>
        <key>row-group-size</key>
    </entry>
    <entry>
        <key>page-size</key>
    </entry>
    <entry>
        <key>dictionary-page-size</key>
    </entry>
    <entry>
        <key>max-padding-size</key>
    </entry>
    <entry>
        <key>enable-dictionary-encoding</key>
    </entry>
    <entry>
        <key>enable-validation</key>
    </entry>
    <entry>
        <key>writer-version</key>
    </entry>
    <entry>
        <key>remove-crc-files</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>100 ms</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutParquet</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.parquet.PutParquet</type>
                        </processors>
                        <processors>
                            <id>8b8e7fe4-261f-3f51-0000-000000000000</id>
                            <parentGroupId>463de8da-fc4a-3b88-0000-000000000000</parentGroupId>
                            <position>
<x>1097.0</x>
<y>1.0</y>
                            </position>
                            <bundle>
<artifact>nifi-hadoop-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>
            <name>Hadoop Configuration Resources</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>
            <name>Kerberos Principal</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
        <value>
            <name>Kerberos Keytab</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>
            <name>Kerberos Relogin Period</name>
        </value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
        <value>
            <name>Additional Classpath Resources</name>
        </value>
    </entry>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Block Size</key>
        <value>
            <name>Block Size</name>
        </value>
    </entry>
    <entry>
        <key>IO Buffer Size</key>
        <value>
            <name>IO Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replication</key>
        <value>
            <name>Replication</name>
        </value>
    </entry>
    <entry>
        <key>Permissions umask</key>
        <value>
            <name>Permissions umask</name>
        </value>
    </entry>
    <entry>
        <key>Remote Owner</key>
        <value>
            <name>Remote Owner</name>
        </value>
    </entry>
    <entry>
        <key>Remote Group</key>
        <value>
            <name>Remote Group</name>
        </value>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>
            <name>Compression codec</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>/opt/nifi/core-site.xml,/opt/nifi/hdfs-site.xml</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>4 hours</value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
    </entry>
    <entry>
        <key>Directory</key>
        <value>/input</value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>fail</value>
    </entry>
    <entry>
        <key>Block Size</key>
    </entry>
    <entry>
        <key>IO Buffer Size</key>
    </entry>
    <entry>
        <key>Replication</key>
    </entry>
    <entry>
        <key>Permissions umask</key>
    </entry>
    <entry>
        <key>Remote Owner</key>
    </entry>
    <entry>
        <key>Remote Group</key>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>NONE</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutHDFS</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
                        </processors>
                        <processors>
                            <id>bc92d11f-4961-3d33-0000-000000000000</id>
                            <parentGroupId>463de8da-fc4a-3b88-0000-000000000000</parentGroupId>
                            <position>
<x>760.8818416242259</x>
<y>302.86553113306695</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>filename</key>
        <value>
            <name>filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>filename</key>
        <value>${filename:replace('csv', 'parquet')}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                    </contents>
                    <name>toHDFS</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>870bc935-ea57-3e6c-0000-000000000000</id>
                    <parentGroupId>85701b7e-793b-330a-0000-000000000000</parentGroupId>
                    <position>
                        <x>793.565830213236</x>
                        <y>318.60117567352296</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>8c47d58d-a71b-3115-0000-000000000000</id>
                            <parentGroupId>870bc935-ea57-3e6c-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>870bc935-ea57-3e6c-0000-000000000000</groupId>
<id>1b5ef4d5-97b1-3d8a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>870bc935-ea57-3e6c-0000-000000000000</groupId>
<id>736da5ab-558c-3d91-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>97a12eee-468a-31c6-0000-000000000000</id>
                            <parentGroupId>870bc935-ea57-3e6c-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>870bc935-ea57-3e6c-0000-000000000000</groupId>
<id>55736347-58b3-34d2-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>870bc935-ea57-3e6c-0000-000000000000</groupId>
<id>1b5ef4d5-97b1-3d8a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>55736347-58b3-34d2-0000-000000000000</id>
                            <parentGroupId>870bc935-ea57-3e6c-0000-000000000000</parentGroupId>
                            <position>
<x>1136.0</x>
<y>189.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>file</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>1b5ef4d5-97b1-3d8a-0000-000000000000</id>
                            <parentGroupId>870bc935-ea57-3e6c-0000-000000000000</parentGroupId>
                            <position>
<x>538.0</x>
<y>-32.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File to Fetch</key>
        <value>
            <name>File to Fetch</name>
        </value>
    </entry>
    <entry>
        <key>Completion Strategy</key>
        <value>
            <name>Completion Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Move Destination Directory</key>
        <value>
            <name>Move Destination Directory</name>
        </value>
    </entry>
    <entry>
        <key>Move Conflict Strategy</key>
        <value>
            <name>Move Conflict Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Log level when file not found</key>
        <value>
            <name>Log level when file not found</name>
        </value>
    </entry>
    <entry>
        <key>Log level when permission denied</key>
        <value>
            <name>Log level when permission denied</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File to Fetch</key>
        <value>${absolute.path}/${filename}</value>
    </entry>
    <entry>
        <key>Completion Strategy</key>
        <value>None</value>
    </entry>
    <entry>
        <key>Move Destination Directory</key>
    </entry>
    <entry>
        <key>Move Conflict Strategy</key>
        <value>Rename</value>
    </entry>
    <entry>
        <key>Log level when file not found</key>
        <value>ERROR</value>
    </entry>
    <entry>
        <key>Log level when permission denied</key>
        <value>ERROR</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>FetchFile</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>not.found</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>permission.denied</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.FetchFile</type>
                        </processors>
                        <processors>
                            <id>736da5ab-558c-3d91-0000-000000000000</id>
                            <parentGroupId>870bc935-ea57-3e6c-0000-000000000000</parentGroupId>
                            <position>
<x>91.0</x>
<y>-26.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Input Directory</key>
        <value>
            <name>Input Directory</name>
        </value>
    </entry>
    <entry>
        <key>listing-strategy</key>
        <value>
            <name>listing-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>
            <name>Recurse Subdirectories</name>
        </value>
    </entry>
    <entry>
        <key>Input Directory Location</key>
        <value>
            <name>Input Directory Location</name>
        </value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>
            <name>File Filter</name>
        </value>
    </entry>
    <entry>
        <key>Path Filter</key>
        <value>
            <name>Path Filter</name>
        </value>
    </entry>
    <entry>
        <key>Include File Attributes</key>
        <value>
            <name>Include File Attributes</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>
            <name>Minimum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
        <value>
            <name>Maximum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>
            <name>Minimum File Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
        <value>
            <name>Maximum File Size</name>
        </value>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>
            <name>Ignore Hidden Files</name>
        </value>
    </entry>
    <entry>
        <key>target-system-timestamp-precision</key>
        <value>
            <name>target-system-timestamp-precision</name>
        </value>
    </entry>
    <entry>
        <key>et-state-cache</key>
        <value>
            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
            <name>et-state-cache</name>
        </value>
    </entry>
    <entry>
        <key>et-time-window</key>
        <value>
            <name>et-time-window</name>
        </value>
    </entry>
    <entry>
        <key>et-initial-listing-target</key>
        <value>
            <name>et-initial-listing-target</name>
        </value>
    </entry>
    <entry>
        <key>et-node-identifier</key>
        <value>
            <name>et-node-identifier</name>
        </value>
    </entry>
    <entry>
        <key>track-performance</key>
        <value>
            <name>track-performance</name>
        </value>
    </entry>
    <entry>
        <key>max-performance-metrics</key>
        <value>
            <name>max-performance-metrics</name>
        </value>
    </entry>
    <entry>
        <key>max-operation-time</key>
        <value>
            <name>max-operation-time</name>
        </value>
    </entry>
    <entry>
        <key>max-listing-time</key>
        <value>
            <name>max-listing-time</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Input Directory</key>
        <value>/opt/nifi/data</value>
    </entry>
    <entry>
        <key>listing-strategy</key>
        <value>timestamps</value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Input Directory Location</key>
        <value>Local</value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>^.*\.csv$</value>
    </entry>
    <entry>
        <key>Path Filter</key>
    </entry>
    <entry>
        <key>Include File Attributes</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>0 B</value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>true</value>
    </entry>
    <entry>
        <key>target-system-timestamp-precision</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>et-state-cache</key>
    </entry>
    <entry>
        <key>et-time-window</key>
        <value>3 hours</value>
    </entry>
    <entry>
        <key>et-initial-listing-target</key>
        <value>all</value>
    </entry>
    <entry>
        <key>et-node-identifier</key>
        <value>${hostname()}</value>
    </entry>
    <entry>
        <key>track-performance</key>
        <value>false</value>
    </entry>
    <entry>
        <key>max-performance-metrics</key>
        <value>100000</value>
    </entry>
    <entry>
        <key>max-operation-time</key>
        <value>10 secs</value>
    </entry>
    <entry>
        <key>max-listing-time</key>
        <value>3 mins</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ListFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ListFile</type>
                        </processors>
                    </contents>
                    <name>load</name>
                    <variables/>
                </processGroups>
            </contents>
            <name>PutcsvToHDFSinParquet</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>05/19/2019 14:30:52 UTC</timestamp>
</template>
